apiVersion: apps/v1
kind: Deployment
metadata:
  name: chromadb-deployment
  namespace: lanflo-01
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chromadb
  template:
    metadata:
      labels:
        app: chromadb
    spec:
      containers:
        - name: chromadb
          image: chromadb/chroma
          volumeMounts:
            - name: app-storage
              mountPath: /data
          resources:
            requests: 
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"
      volumes:
        - name: app-storage
          persistentVolumeClaim:
            claimName: chromadb-volume-claim