apiVersion: v1
kind: Service
metadata:
  name: chromadb-service
  namespace: lanflo-01
spec:
  type: LoadBalancer
  selector:
    app: chromadb
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000